---
page_title: "Provider: {{ .RenderedProviderName }}"
description: |-
  A Terraform provider to work with {{ .RenderedProviderName }}, allowing management of virtual machines and other VMware resources. Supports management through {{ .RenderedProviderName }}.
---

# {{ .RenderedProviderName }} Provider

{{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Known Issues:

* We know that we can't change the Denomination and Description of the VM's because the API Rest fails, we are working on this issue trying to fix it a soon as possible.
* The parallelism, as you know Terraform has the option to create different resources at the same time, but the API Rest of VmWare Workstation PRO hasn't the option to create multiple resources at the same time, for that reason, you will need to use the flag -parallelism=1 when you run the command Terraform.